@import "tailwindcss";
@tailwind utilities;

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b27429;
  --primary-foreground: #ffffff;

  --header-footer-bg: #333333;
  --header-footer-text: #ffffff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-nunito-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
